.btn {
  padding: 0.6rem 1.3rem;
  border-radius: 5px;
  transition: all 0.3s;
}

.gradient-btn {
  background: linear-gradient(90deg, #bb47a6 0%, #4e6dd8 100%) !important;
  position: relative;
  z-index: 1;
}

.gradient-btn .btn-text {
  position: relative;
  z-index: 3;
}

.gradient-btn::after {
  inset: 0;
  background: linear-gradient(to left, #bb47a6 0%, #4e6dd8 100%) !important;
  position: absolute;
  content: "";
  z-index: 2;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 5px;
}

.gradient-btn:hover::after {
  opacity: 1;
}

.outlined-btn {
  background: transparent;
  border: 1px solid #fff;
}
